<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
</head>
<body>

</body>
</html>



{% extends "frontend/base.html" %}
{% load static %}
{% block main %}
<h1>Grafica</h1>
<!--Content Row-->
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4"> 
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-wight-bold text-warning text-uppercase mb-1">
                                lista del alumno
                            </div>
                            <table style="width:100%">
                            <tr>
                                <th>Fecha</th>

                                <th>Puntos</th>
                            </tr>
                            {% for item in pointList %} 
                            <tr>
                                <th>{{item.date}}</th>
                                <th>{{item.points}}</th>
                            </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %} 
    {% block localscripts %} 
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    {% endblock %}
                        

